/* Add Material Design .light here: */
.light {
  --md-sys-color-primary: rgb(1 103 125);
  --md-sys-color-surface-tint: rgb(1 103 125);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(179 235 255);
  --md-sys-color-on-primary-container: rgb(0 78 95);
  --md-sys-color-secondary: rgb(0 104 123);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(175 236 255);
  --md-sys-color-on-secondary-container: rgb(0 78 93);
  --md-sys-color-tertiary: rgb(90 88 146);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(226 223 255);
  --md-sys-color-on-tertiary-container: rgb(66 65 120);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 250 253);
  --md-sys-color-on-background: rgb(23 28 30);
  --md-sys-color-surface: rgb(245 250 253);
  --md-sys-color-on-surface: rgb(23 28 30);
  --md-sys-color-surface-variant: rgb(219 228 232);
  --md-sys-color-on-surface-variant: rgb(64 72 75);
  --md-sys-color-outline: rgb(112 120 124);
  --md-sys-color-outline-variant: rgb(191 200 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 241 244);
  --md-sys-color-inverse-primary: rgb(134 209 234);
  --md-sys-color-primary-fixed: rgb(179 235 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 39);
  --md-sys-color-primary-fixed-dim: rgb(134 209 234);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 95);
  --md-sys-color-secondary-fixed: rgb(175 236 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 39);
  --md-sys-color-secondary-fixed-dim: rgb(133 210 232);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 78 93);
  --md-sys-color-tertiary-fixed: rgb(226 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(22 19 74);
  --md-sys-color-tertiary-fixed-dim: rgb(195 192 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(66 65 120);
  --md-sys-color-surface-dim: rgb(214 219 221);
  --md-sys-color-surface-bright: rgb(245 250 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 247);
  --md-sys-color-surface-container: rgb(234 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 235);
  --md-sys-color-surface-container-highest: rgb(222 227 230);
}

/* Add Material Design .dark here: */
.dark {
  --md-sys-color-primary: rgb(134 209 234);
  --md-sys-color-surface-tint: rgb(134 209 234);
  --md-sys-color-on-primary: rgb(0 54 66);
  --md-sys-color-primary-container: rgb(0 78 95);
  --md-sys-color-on-primary-container: rgb(179 235 255);
  --md-sys-color-secondary: rgb(133 210 232);
  --md-sys-color-on-secondary: rgb(0 54 65);
  --md-sys-color-secondary-container: rgb(0 78 93);
  --md-sys-color-on-secondary-container: rgb(175 236 255);
  --md-sys-color-tertiary: rgb(195 192 255);
  --md-sys-color-on-tertiary: rgb(43 42 96);
  --md-sys-color-tertiary-container: rgb(66 65 120);
  --md-sys-color-on-tertiary-container: rgb(226 223 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 230);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(222 227 230);
  --md-sys-color-surface-variant: rgb(64 72 75);
  --md-sys-color-on-surface-variant: rgb(191 200 204);
  --md-sys-color-outline: rgb(137 146 150);
  --md-sys-color-outline-variant: rgb(64 72 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 230);
  --md-sys-color-inverse-on-surface: rgb(44 49 51);
  --md-sys-color-inverse-primary: rgb(1 103 125);
  --md-sys-color-primary-fixed: rgb(179 235 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 39);
  --md-sys-color-primary-fixed-dim: rgb(134 209 234);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 95);
  --md-sys-color-secondary-fixed: rgb(175 236 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 39);
  --md-sys-color-secondary-fixed-dim: rgb(133 210 232);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 78 93);
  --md-sys-color-tertiary-fixed: rgb(226 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(22 19 74);
  --md-sys-color-tertiary-fixed-dim: rgb(195 192 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(66 65 120);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 17);
  --md-sys-color-surface-container-low: rgb(23 28 30);
  --md-sys-color-surface-container: rgb(27 32 35);
  --md-sys-color-surface-container-high: rgb(37 43 45);
  --md-sys-color-surface-container-highest: rgb(48 54 56);
}